<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us
    </title>
</head>
<body>
    <h1>About 3D Printer Shop inc.</h1>
    <section>
        <h2>Our Story</h2>
        <p>
            Our founder, Bob Mcgee has a passion for plastic. In his words "the world runs on plastic." In 2020,<br>
            he founded 3D Printer Shop inc. to cater to a new small-scale manufacturing industry: 3D print farms.<br>
            Due to breakdowns in the global supply chain, commercial purchasers were looking for suppliers who could<br>
            dynamically scale and adjust to make unique parts in specific sizes and quantities. While this new industry<br>
            grows and evolves, 3D Print Shop will always be standing by to offer quality supplies at stable prices.
        </p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>
            3D Print Shop doesn't just supply large scale 3D print farms. Hobbyists and DIY types will find our prices<br>
            and quality beat everyone on the block. That's why we make our filaments in-house right here in Richmond, Virginia!<br>
            Our vertically integrated supply chain ensures that our prices and quality are stable and affordable - like plastic!<br>

        </p>
    </section>
    <section>
        <h3>Navigation</h3>
        <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Return to main page</a>
    </section>
    <img src = "">

</body>
</html>